{% extends 'main/base.html' %}
{% block title %} Experience Page {% endblock %}
{% block content %}

<h2 class="fw-bold mb-4 text-center"> My Experience In Web Application</h2>
<div class="timeline">
  <div class="card mb-3 p-3 shadow-sm">
    <h4> Student – Basic HTML & CSS Web Development </h4>
    <p class="text-muted"> January 2025 – June 2025 </p>
    <p> 
      Developed responsive and visually appealing static websites using semantic HTML5 and modern CSS. 
      Focused on layout design, typography, and accessibility best practices to create clean, user-friendly interfaces.
    </p>
  </div>
  <div class="card mb-3 p-3 shadow-sm">
    <h4> Student – Web Application Development </h4>
    <p class="text-muted"> August 2025 – December 2025 (In process) </p>
    <p> 
      Currently building dynamic web applications using Python, Django, and JavaScript. 
      Gaining hands-on experience in backend logic, database integration, and API connectivity to create functional, full-stack solutions that enhance user interactivity and performance.
    </p>
  </div>
</div>

{% endblock %}
