{% extends 'main/base.html' %}
{% block title %} Skills Page {% endblock %}
{% block content %}

<h2 class="fw-bold mb-4 text-center"> My Skills </h2>
<div class="row text-center">
  <div class="col-md-4">
    <h5 class="fw-bold"> Laguages </h5>
    <p> Python, HTML, CSS, SQL, C++, C#, Java </p>
  </div>
  <div class="col-md-4">
    <h5 class="fw-bold"> Frameworks </h5>
    <p> Django, Bootstrap, React </p>
  </div>
  <div class="col-md-4">
    <h5 class="fw-bold"> Tools </h5>
    <p> Git, GitHub, Visual Studio Code, Docker </p>
  </div>
</div>

{% endblock %}
